*{
    margin: 0;
    font-family: 'Open Sans' , sans-serif;
}
.text-primary{
    color: coral;
    
}
 .btn-primary
 {
         color: #FFFFFF;
         font-weight: 700;
         font-size: 20px;
         border: 0;
         padding: 18px 35px;
         height: 64px;
         border-radius: 5px;
         background: coral;
} 
nav{
    display: flex;
    justify-content: space-between;
    margin: 50px 200px;
}
.nav-title {
    font-weight: 800;
    font-size: 45px;
}
nav ul
{
    display: flex;
    align-items:center;
}
nav li {
    list-style: none;
    margin-left: 50px;
}
 .banner {
    display: flex;
    align-items: center;
    margin: 0 450px;

 }
 .banner-title{

    font-weight: 700;
    font-size: 85px;
 }
 .banner-sub-title{
    font-weight: 600;
    font-size: 25px;
    margin-bottom: 20px;
 }
 .banner-des
 {
    color:indigo;
    font-size: 18px;
    margin-bottom: 30px;
 }
 .header{
    background-color: aquamarine;
    background-size:cover;
    background-image: url(../Images/empty-wooden-tabletop-and-view-tropical-beach-with-raibow-over-sea-background-free-photo.jpg);
    background-repeat: no-repeat;
    background-position: center;
 } 

 main{
    max-width: 1140px;
    margin: 0 auto;
 }
 .about{
    margin-top: 130px;
    border-radius: 10px;
    background:#ead4c6;
    padding: 130px 150px;

 }
 .section-title{
    text-align: center;
    margin-bottom: 30px;
    font-weight: 700;
    font-size: 30px;

 }
 .section-des{

    color:#0e0d0d;
    font-size: 18px;s
    margin-bottom: 30px;
 }
 .about-info-container{
    display: flex;
    justify-content: space-around;
 }
 .info-title{
    font-size: 20px;
    font-weight: 700;
    color:black;
 }
 .des{
    font-weight: 700;
    font-size: 20px;
    
 }