*{
    margin: 0;
    font-family: 'Open Sans' , sans-serif;
}
.text-primary{
    color: coral;
    
}
 .btn-primary
 {
         color: #FFFFFF;
         font-weight: 700;
         font-size: 20px;
         border: 0;
         padding: 18px 35px;
         height: 64px;
         border-radius: 5px;
         background: coral;
} 
nav{
    display: flex;
    justify-content: space-between;
    margin: 50px 200px;
}
.nav-title {
    font-weight: 800;
    font-size: 45px;
}
nav ul
{
    display: flex;
    align-items:center;
}
nav li {
    list-style: none;
    margin-left: 50px;
}
 .banner {
    display: flex;
    align-items: center;
    margin: 0 450px;

 }
 .banner-title{

    font-weight: 700;
    font-size: 85px;
 }
 .banner-sub-title{
    font-weight: 600;
    font-size: 25px;
    margin-bottom: 20px;
 }
 .banner-des
 {
    color:indigo;
    font-size: 18px;
    margin-bottom: 30px;
 }
 .header{
    background-color: aquamarine;
    background-size:cover;
    background-image: url(../Images/empty-wooden-tabletop-and-view-tropical-beach-with-raibow-over-sea-background-free-photo.jpg);
    background-repeat: no-repeat;
    background-position: center;
 } 

 main{
    max-width: 1140px;
    margin: 0 auto;
 }
 .about{
    margin-top: 130px;
    border-radius: 10px;
    background:#ead4c6;
    padding: 130px 150px;

 }
 .section-title{
    text-align: center;
    margin-bottom: 30px;
    font-weight: 700;
    font-size: 30px;

 }
 .section-des{

    color:#0e0d0d;
    font-size: 18px;s
    margin-bottom: 30px;
 }
 .about-info-container{
    display: flex;
    justify-content: space-around;
 }
 .info-title{
    font-size: 20px;
    font-weight: 700;
    color:black;
 }
 .des{
    font-weight: 700;
    font-size: 20px;
    
 }
 .my-skills{
    margin-top: 130px;
 }
 .skills-container{
    display: flex;
 }
 .skill-title{
    font-weight: 700;
    font-size: 16px;
 }
 .skill-des{
    color: black;
 }
 
 .resume-item{
    margin-top: 5px;
    margin border: 5px; ;
    margin-bottom: 5px;
    border-radius: 5px;

 }
 .resume-content
 {
    display: flex;
    gap: 60px;
    padding-right: 20px;
    margin-top: 20px;
    margin-left: 220px;
    background-size: cover;
 }
 .resume-title{
    text-align: center;
    font-weight: 800;
    color: rgb(6, 203, 78);
    
 }
 .resume-sub-title{
    
    font-weight: 500;
    color: rgb(66, 34, 182);
    
    
 }
 .resume-des{
    font-size: 15px;
    color: black;

    
 }
 .title{
    color: rgb(160, 80, 18);
    font-size:x-large;
 }
 .des{
    color: rgb(23, 22, 22);
    font-size: medium;
 }
 .sub-title{
    color:blue;
    font-size: large;
 }
 .contact .section-title{
    text-align: left;
 }
 .contact{
    display: flex;
    gap: 100px;
    background: #989aac;
    padding: 130px 200px;

 }
 .resume-button{
      text-align: center;
      margin-bottom: 50px;
      margin-left: 100px;
      
      
 }
 .contact input,textarea{
    margin-bottom: 24px;
    border: 0;
    width: 100%;
    padding: 18px 30px;
 }
input{
    height: 64px;
}
/* footer style */
footer {
   display: flex;
   gap: 100px;
   background: #FFF8F3;
   margin-top: 100px;
   padding: 130px 200px;
}

.footer-column {
   width: 50%;
}

.social-links a {
   margin-right: 25px;
}

.contact input[type="text"],
.contact input[type="email"],
textarea {
   display: block;
   margin-bottom: 25px;
   padding: 18px 35px;
   color: #757575;
   border-radius: 5px;
   background: #FFF;
   border: 0;
   width: 100%;
}

.hide {
   display: none;
}

@media screen and (max-width:576px) {
   .header{
       background-image: none;
   }
   
   nav,
   nav > ul,
   .banner,
   .skills-container,
   .resume-container,
   .about-info-container,
   footer {
       flex-direction: column;
   }

   nav > ul {
       gap: 10px;
   }

   .banner .profile-pic{
       width: 100%;
   }

   .banner,
   #what-i-do-description {
       padding: 20px;
   }

   footer, .about {
       padding: 10px;
   }

   .btn-primary{
       margin-bottom: 15px;
   }

   .footer-column {
       width: 100%;
   }

   .contact input[type="text"],
   .contact input[type="email"],
   textarea {
       width: 80%;
   }
}

@media screen and (min-width:576px) and (max-width:960px) {
   footer {
       padding: 30px;
   }
   .btn-primary{
       margin-bottom: 15px;
   }
}